# Gradle files
.gradle/
android/.gradle/
android/**/build/
android/local.properties
android/captures/
android/.idea/
android/**/.cxx/
android/**/*.iml

# Android Studio
*.iml
.idea/
*.DS_Store

# Secrets
*.keystore
*.jks
google-services.json
key.properties
